/*------------------------------------*\
    #HEADER
\*------------------------------------*/

header img {
  width: 100%;
  height: 100%;
}

.headertext {
  width: 40%;
  margin: -600px auto 0 auto;
}

header h1 {
  font-size: 3.4em;
  color: $color-offwhite;
  text-align: center;
}

.turquoise {
  color: $color-turquoise;
}

.arrow {
  margin: 100px auto 0 auto;
  width: 10%;
}

aside {
  width: 20%;
  height: 100%;
  background: $color-purple;
  float: left;
  position: fixed;
  top: 0;
  left: 0;
}

aside img {
  width: 90%;
  margin: 3% 2%;
}

nav {
  padding: 12px 20px 12px 50px;
}

a.animsition-link {
  padding: 10px 0;
}

a, a:visited {
  color: $color-turquoise;
  font-size: 1.6em;
  display: block;
  text-decoration: none;
}

a:hover {
  color: $color-purple;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 90%;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0;
}

li a, li a:visited {
  color: $color-offwhite;
  font-size: 1.6em;
  display: block;
  text-decoration: none;
}

li a:hover {
  color: $color-turquoise;
}

.socialicon, .fa-chevron-circle-down {
  color: $color-offwhite;
  padding: 0;
  margin: 0;
}

.fa-etsy {
  vertical-align: 8%;
}

.socialicon {
  align-items: baseline;
}

.socialicon:hover, .fa-chevron-circle-down:hover {
  color: $color-turquoise;
}

.socialmedia {
  align-items: baseline;
  width: 100%;
  margin: 0;
  margin-left: -54px;
  display: flex;
  bottom: 40px;
  position: absolute;
  text-align: center;
}

li.socialicon {
  width: 100%;
  padding: 8px;
  margin: 0;
}
