/*------------------------------------*\
    #HEADER
\*------------------------------------*/

header img {
  width: 100%;
  height: 100%;
}

.headertext {
  width: 40%;
  margin: -600px auto 0 auto;
}

header h1 {
  font-size: 3.4em;
  color: $color-offwhite;
  text-align: center;
}

.turquoise {
  color: $color-turquoise;
}

.arrow {
  margin: 100px auto 0 auto;
  width: 5%;
}

.arrow:hover {
  background-color: $color-turquoise;
}


aside {
  width: 20%;
  height: 100%;
  background: $color-purple;
  float: left;
  position: fixed;
  top: 0;
  left: 0;
}

aside img {
  width: 80%;
  margin: 10% 7%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 80%;
}

li a {
  color: $color-offwhite;
  font-size: 1.6em;
  display: block;
  padding: 12px 20px 12px 50px;
  text-decoration: none;
}

li a:hover {
  color: $color-turquoise;
}

.socialmedia {
  width: 90%;
  display: flex;
  bottom: 40px;
  position: absolute;
  text-align: center;
}

.socialmedia li a {
  padding: 2px;
}
