/*------------------------------------*\
    #MAIN
\*------------------------------------*/
* {
	margin:0;
	padding:0;
	border:0;
}

.banner {
  background-color: $color-offwhite;
  color: $color-turquoise;
  width: 100%;
  height: 100px;
  margin: 5% 0;
}

h2 {
  font-size: 5.2em;
  margin-left: 5%;
  vertical-align: middle;
}

h3 {
  font-size: 2em;
  color: $color-purple;
  margin-left: 5%;
  vertical-align: middle;
}

#services, #about, #branding, #webdesign, #custominvitations, #otherventures, #contact, #blog {
  width: 80%;
  clear: both;
}

p {
  font-size: 1.6em;
  color: $color-purple;
  margin: 30px 50px 30px 50px;
  width: 40%;
}

#about img {
  width: 40%;
  margin: 20px 60px 60px 0;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.gridcontainer {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: baseline;
  width: 95%;
  margin: auto;
  float: right;
  margin: 0 5% 10% 5%;
  text-align: center;
}

.card {
  width: calc( 100% / 3 );
}

.card h3 {
  padding-top: 5%;
}

.card p {
  width: 80%;
  text-align: center;
  margin-top: 30px;
}

.cardgallery {
	width: calc ( 90% / 3 );
}

#services img, #custominvitations img {
  height: 200px;
}

.marginleft {
  margin-left: 5%;
}
