/*------------------------------------*\
    #MAIN
\*------------------------------------*/
* {
	margin:0;
	padding:0;
	border:0;
}

.banner {
  background-color: $color-offwhite;
  color: $color-turquoise;
  width: 100%;
  height: 100px;
  margin: 5% 0;
}

h2 {
  font-size: 5.2em;
  margin-left: 5%;
  vertical-align: middle;
}

h3 {
  font-size: 2em;
  color: $color-purple;
  margin-left: 5%;
  vertical-align: middle;
}

#services, #about, #branding, #webdesign, #custominvitations, #otherventures, #contact, #blog {
  width: 80%;
  clear: both;
}

p {
  font-size: 1.6em;
  color: $color-purple;
  margin: 30px 50px 30px 50px;
  width: 40%;
}

#about img {
  width: 40%;
  margin: 0 60px 60px 0;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.gridcontainer {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: baseline;
  width: 95%;
  margin: auto;
  float: right;
  margin: 0 5% 10% 5%;
  text-align: center;
}

.card {
  width: calc( 100% / 3 );
}

.cardiframe {
	width: 50%;
}

.card h3, .cardiframe h3 {
  padding-top: 5%;
}

.cardiframe h3 {
	text-align: left;
	width: 400px;
	padding: 5px;
	margin-left: 50px;
}

.card p, .cardiframe p {
  width: 80%;
  text-align: center;
  margin-top: 30px;
}

.cardiframe p {
	text-align: left;
}

.cardgallery, .brandinggallery {
	width: calc( 90% / 3 );
}

.webgallery {
	width: calc( 90% / 2);
}

.linkptag {
	font-size: 0.8em;
	width: 300px;
	margin: auto;
	padding: 10px 0;
	text-align: center;
}

#branding img {
	width: 99%;
	align-items: baseline;
}

#services img, #custominvitations img, #webdesign img {
  height: 200px;
}

#webdesign img, #custominvitations img {
	padding-top: 40px;
}

.marginleft {
  margin-left: 5%;
}

iframe, .modernimg img {
	width: 90%;
	text-align: center;
	margin: auto;
}

iframe {
	height: 500px;
}

.cardiframe img {
	padding-top: 20px;
}

.fa-envelope-o, .fa-phone {
	width: 20px;
	text-align: center;
}
